


[submodule "archive"]
	path = archive
	url = https://github.com/quanttide/quanttide-archive-of-founder.git
[submodule "profile"]
	path = profile
	url = https://github.com/quanttide/quanttide-profile-of-founder.git
[submodule "specification"]
	path = specification
	url = https://github.com/quanttide/quanttide-specification-of-founder.git
[submodule "essay"]
	path = essay
	url = https://github.com/quanttide/quanttide-essay-of-founder.git
[submodule "handbook"]
	path = handbook
	url = https://github.com/quanttide/quanttide-handbook-of-founder.git
[submodule "journal"]
	path = journal
	url = https://github.com/quanttide/quanttide-journal-of-founder.git
[submodule "report"]
	path = report
	url = https://github.com/quanttide/quanttide-report-of-founder.git
[submodule "usercase"]
	path = usercase
	url = https://github.com/quanttide/quanttide-usercase-of-founder.git
[submodule "platform"]
	path = platform
	url = https://github.com/Guo-Zhang/thera.git
[submodule "paper"]
	path = paper
	url = https://github.com/quanttide/quanttide-paper-of-founder.git
