[submodule "archive"]
	path = docs/archive
	url = https://github.com/quanttide/quanttide-archive-of-founder.git
[submodule "docs/roadmap"]
	path = docs/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-founder.git
[submodule "docs/context"]
	path = docs/context
	url = https://github.com/quanttide/quanttide-context-of-founder.git
[submodule "docs/fiction"]
	path = docs/fiction
	url = https://github.com/quanttide/quanttide-fiction-of-founder.git
[submodule "docs/vision"]
	path = docs/vision
	url = https://github.com/quanttide/quanttide-vision-of-founder.git
