[submodule "docs/fiction"]
	path = docs/fiction
	url = https://github.com/quanttide/quanttide-fiction-of-founder.git
[submodule "docs/memory"]
	path = docs/memory
	url = https://github.com/quanttide/quanttide-memory-of-founder.git
[submodule "docs/archive"]
	path = docs/archive
	url = https://github.com/quanttide/quanttide-archive-of-founder
[submodule "apps/qtgame-tycoon"]
	path = apps/qtgame-tycoon
	url = https://github.com/quanttide/qtgame-tycoon
